<!DOCTYPE html>
<html ng-app="rootApp">
    <head>
        <base href="/"> <!-- MUCHOS IMPORTANTE for routing -->
        <title>TO DO List</title>
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <script type="text/javascript" src="js/jquery-1.11.3.js"></script>
        <script type="text/javascript" src="angular.js"></script>
        <script type="text/javascript" src="route.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers/mainController.js"></script>
        <script type="text/javascript" src="js/controllers/secondController.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="hero-unit" ng-controller="mainController">
                <div ng-if="named">
                    My name is "{{name}}"
                </div>
                <div ng-if="!named">
                    I have no name :(
                </div>
                <button ng-click="calculateQuantity()">Click it</button>
                <div ng-controller="secondController">
                    Jeg har lidt extra
                    <button ng-click="secondClick()">Click me too</button>
                    <button ng-click="calculateQuantity()">Brug den her også?  - Nsted?</button>
                </div>
                <div ng-view></div>
            </div>
        </div>
    </body>
</html>